.App {
  display: flex;
  flex-direction: row;
}

.todoList {
  margin: 0;
  width: 300px;
}

.todoList > div {
  padding: 10px;
}

.todoList-task.done {
  opacity: 0.5;
}



.filter-active {
  background-color: blue;
}

.err{
  border-color: red;
}




